{% extends "master.html" %}
{% load static %}

{% block title %}
    KFH - Dashboard
{% endblock %}

{% block content %}
    <h2>DASHBOARD</h2>

    <p>
       Welcome to Kuwait Finance House dashboard :)
    </p>


    <table class="fuze-table" id="pending-table"></table>

    <h3>List of Recent Documents - last 30 days</h3>

{#    <table class="fuze-table" id="requesting-table"></table>#}

    <table class="fuze-table" id="document-table"></table>

 <!--Receive JSON data from view, to pass into the
    json_data parameter of the fuze table-->
    {{ pendingAsJson|json_script:"mydata1" }}
    {{ documentsAsJson|json_script:"mydata2" }}
{#    {{ testdataAsJson|json_script:"mydata" }}#}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData1 = JSON.parse(JSON.parse(document.getElementById("mydata1").textContent));
    documents_table = new FuzeTable("pending-table",
        {
            title: "Pending review"
            ,json_data: jsonData1
            ,clickable_rows: true
            ,on_row_click: onRowClick1
        });
    const jsonData2 = JSON.parse(JSON.parse(document.getElementById("mydata2").textContent));
    documents_table = new FuzeTable("document-table",
        {
            title: "Documents"
            ,json_data: jsonData2
            ,clickable_rows: true
            ,on_row_click: onRowClick2
            ,columns: {
                id: {
                    visible: false
                }
                ,uploaded_at: {
                    display_name: "uploaded at"
                }
            }
        });
     {#requesting_table = new FuzeTable("requesting-table",#}
     {#   {#}
     {#       title: "Sent Requests"#}
     {#       ,json_data: jsonData#}
     {#       ,clickable_rows: true#}
     {#       ,on_row_click: onRowClick#}
     {#   });#}
    function onRowClick1(data_entry) {
        window.location.pathname = `/review-permission-request/${jsonData1[data_entry].id}/`;
    }
    function onRowClick2(data_entry) {
        window.location.pathname = `/documents/${jsonData2[data_entry].id}/`;
    }

    </script>
{% endblock %}