{% extends "master.html" %}
{% load static %}

{% block title %}
    KFH - Dashboard
{% endblock %}

{% block sub-nav %}
    <div class="sub-navigation">
    <div class="entry" id="before-buttons"></div>
    <a href="/"><div class="entry" id="selected">Dashboard</div></a>
    <a href="/outgoing-requests/"><div class="entry">Your requests</div></a>
    <a href="/incoming-requests/"><div class="entry">Requests pending review</div></a>
    <div class="entry" id="after-buttons"></div>
    </div>
{% endblock %}

{% block content %}
    <h2>Dashboard</h2>

    <p>
        Welcome to Kuwait Finance House dashboard :)<br>
        {{ documentsPendingOutgoing }} Outgoing permission requests<br>
        {{ documentsPendingIncoming }} Incoming permission requests<br>
    </p>

    <h3>Account</h3>

    <p>
        Your details: <a href="/employees/{{ username }}/">click here</a><br>
        <a href="/accounts/logout/">Log out</a><br>
        <a href="/accounts/password_reset/">Reset password</a><br>
    </p>

{% endblock %}