{% extends "master.html" %}
{% load maps_tags %}

{% block title %}
    KFH - Documents
{% endblock %}

{% block content %}
    <h2>List of documents</h2>
    <!--
    add label for filters here and add filters as buttons
    add logic to each filter to ensure it works
    add docked to the right the option to switch view
    work on permission system to allow users to ask to see certain documents
    <h6> Filters </h6>
    <input type="text" id="word"><button>Correspondents</button></input>
    <input type="text" id="word"><button>Tag</button></input>
    <input type="text" id="word"><button>Document Type</button></input>
    <input type="text" id="word"><button>Storage</button></input>
    <input type="text" id="word"><button>Added</button></input>
    <input type="text" id="word"><button>Permissions</button></input>
    <input type="text" id="word"><button>Correspondents</button></input>

     -->
    <label for="search">Search: </label>
    <input type="text" id="search"><button>Search</button>
    <br /><br />
    <table id="document-table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Security</th>
            <th>Upload Date</th>
            <th>Author</th>
            <th>Tags</th>
        </tr>
        {% for i in range %} <!-- python for loop, range is how many documents to display  -->
            {% with documents|list_item:i as document %}
            <tr id="{{ document.id }}" class="clickable">
                <td>{{ document.id }}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.security_level }}</td>
                <td>{{ document.uploaded_at }}</td>
                <td>{{ document.uploaded_by.first_name }}</td>
                <td><button>Add tags...</button></td>
            </tr>
            {% endwith %}
        {% endfor %}
    </table>
    <script>
    // Make table rows clickable
    var table = document.getElementById("document-table");
    for (var i = 0, row; i < table.rows.length; i++) {  <!-- range is table.rows.length -->
        const row_id = table.rows[i].id;
        table.rows[i].addEventListener("click", () => {
            // When a table row is clicked, go to details page with that employee ID
            window.location.href = `details/${row_id}`;
        })
    }
    </script>
{% endblock %}