{% extends "master.html" %}
{% load static %}

{% block title %}
    KFH - Documents
{% endblock %}

{% block sub-nav %}
    <div class="entry"><a href="/documents/">All</a></div>
    <div class="entry" id="selected"><a href="./recently-deleted/">Recently Deleted</a></div>
{% endblock %}

{% block content %}
    <h2>Recently Deleted</h2>

    <p>
    Documents will be wiped from the database 30 days after being marked for deletion...
    </p>

    <table class="fuze-table" id="document-table"></table>

    <!--Receive JSON data from view, to pass into the
    json_data parameter of the fuze table-->
    {{ documentsAsJson|json_script:"mydata" }}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData = JSON.parse(JSON.parse(document.getElementById("mydata").textContent));
    documents_table = new FuzeTable("document-table",
        {
            title: "Documents marked for deletion"
            ,entries_per_page: 10
            ,json_data: jsonData
            ,clickable_rows: true
            ,on_row_click: onRowClick
            ,columns: {
                id: {
                    visible: false
                }
                ,delete_at: {
                    display_name: "will be erased at"
                }
            }
        });

    function onRowClick(data_entry) {
        window.location.href = `/documents/${jsonData[data_entry].id}/`;
    }
    </script>
{% endblock %}