{% extends "master.html" %}

{% block title %}
    {{ document.id }} - {{ document.title }}
{% endblock %}

{% block content %}
    <h2>
        {{ document.title }}
    </h2>
    <p>
        Uploaded at: {{ document.uploaded_at }}<br>
        Author: <a href="/employees/details/{{ document.uploaded_by.username }}">
        {{ document.uploaded_by.first_name }}
        {{ document.uploaded_by.last_name }} </a><br>
        ID: {{ document.id }}<br>
        Link: <a href="/media/{{ document.file }}">
        {{ document.file }}</a>
        <a href="/documents/{{ document.id }}/delete">delete</a><br>
    <br>

    {% for key, value in user_permissions.items %}
        {{ key }}: {{ value }}<br>
    {% endfor %}

    {% if not has_all_perms %}
        <a href="/documents/{{ document.id }}/request-permissions">
            Request more permissions</a>
    {% endif %}
    </p>
{% endblock %}


