{% extends "master.html" %}
{% load static %}
{% load maps_tags %}

{% block title %}
    KFH - Documents
{% endblock %}

{% block content %}
    <h2>List of documents</h2>
    <!--
    add label for filters here and add filters as buttons
    add logic to each filter to ensure it works
    add docked to the right the option to switch view
    work on permission system to allow users to ask to see certain documents
    <h6> Filters </h6>
    <input type="text" id="word"><button>Correspondents</button></input>
    <input type="text" id="word"><button>Tag</button></input>
    <input type="text" id="word"><button>Document Type</button></input>
    <input type="text" id="word"><button>Storage</button></input>
    <input type="text" id="word"><button>Added</button></input>
    <input type="text" id="word"><button>Permissions</button></input>
    <input type="text" id="word"><button>Correspondents</button></input>

     -->
    <label for="search">Search: </label>
    <input type="text" id="search"><button>Search</button>
    <br /><br />
    <table class="fuze-table" id="document-table"></table>
    {{ documentsAsJson|json_script:"mydata" }}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData = JSON.parse(JSON.parse(document.getElementById("mydata").textContent));
    documents_table = new FuzeTable("document-table",
        {
            title: "documents"
            ,json_data: jsonData
            ,clickable_rows: true
            ,on_row_click: onRowClick
        });

    function onRowClick(data_entry) {
        window.location.pathname = `/documents/details/${jsonData[data_entry].id}`;
    }
    </script>
{% endblock %}