{% extends "master.html" %}
{% load static %}

{% block title %}
    KFH - Documents
{% endblock %}

{% block sub-nav %}
    <div class="sub-navigation">
    <div class="entry" id="before-buttons"></div>
    <a href="/documents/"><div class="entry">All</div></a>
    <a href="/documents/recently-uploaded/"><div class="entry" id="selected">Recently Uploaded</div></a>
    <a href="/documents/recently-deleted/"><div class="entry">Recently Deleted</div></a>
    <div class="entry" id="after-buttons"></div>
    </div>
{% endblock %}

{% block content %}
    <h2>Recently Uploaded</h2>

    <table class="fuze-table" id="document-table"></table>

    <!--Receive JSON data from view, to pass into the
    json_data parameter of the fuze table-->
    {{ documentsAsJson|json_script:"mydata" }}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData = JSON.parse(JSON.parse(document.getElementById("mydata").textContent));
    documents_table = new FuzeTable("document-table",
        {
            title: "Documents uploaded last 30 days"
            ,entries_per_page: 10
            ,json_data: jsonData
            ,clickable_rows: true
            ,on_row_click: onRowClick
            ,columns: {
                id: {
                    visible: false
                }
                ,uploaded_at: {
                    display_name: "uploaded at"
                }
            }
        });

    function onRowClick(data_entry) {
        window.location.href = `/documents/${jsonData[data_entry].id}/`;
    }
    </script>
{% endblock %}