{% extends "master.html" %}
{% load static %}

{% block title %}
    Details of {{ employee.first_name }} {{ employee.id }}
{% endblock %}

{% block content %}
    <h2>
        {{ employee.username }}
    </h2>
    <p>
        Name: {{ employee.first_name }}
        {% if employee.middle_name != null %}
            {{ employee.middle_name }}
        {% endif %}
        {% if employee.last_name != null %}
            {{ employee.last_name }}
        {% endif %}<br>
        Email: <a href="mailto:{{ employee.email }}">{{ employee.email }}</a><br>
        Phone: {{ employee.phone }}<br>
        ID: {{ employee.id }}<br>
        Branch: <a href="TBA">{{ employee.branch.name }}</a><br>
        Role: {{ employee.role.name }}<br>
        Last logged in: {{ employee.last_login }}<br>
    </p>
    <h3>
        Documents uploaded by this employee
    </h3>
    {% if documents_uploaded == "none" %}
        <p>None</p>
    {% else %}
    <p>
        <table class="fuze-table" id="documents_uploaded"></table>
    </p>
    {{ documents_uploaded|json_script:"mydata" }}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData = JSON.parse(JSON.parse(document.getElementById("mydata").textContent));
    documents_table = new FuzeTable("documents_uploaded",
        {
            title: "Documents authored"
            ,entries_per_page: 10
            ,json_data: jsonData
            ,clickable_rows: true
            ,on_row_click: onRowClick
            ,columns: {
                id: {
                    visible: false
                }
                ,uploaded_at: {
                    display_name: "uploaded at"
                }
            }
        });

    function onRowClick(data_entry) {
        window.location.href = `/documents/${jsonData[data_entry].id}/`;
    }
    </script>
    {% endif %}
{% endblock %}