{% extends "master.html" %}
{% load static %}
{% load maps_tags %}

{% block title %}
    KFH - Employees
{% endblock %}

{% block content %}
    <h2>List of employees</h2>
    <table class="fuze-table" id="employees-table"></table>
    {{ employeesAsJson|json_script:"mydata" }}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData = JSON.parse(document.getElementById("mydata").textContent);
    employees_table = new FuzeTable("employees-table",
        {
            title: "Employees"
            ,json_data: JSON.parse(jsonData)
        });
    </script>
{% endblock %}