{% extends "master.html" %}
{% load static %}

{% block title %}
    KFH - Employees
{% endblock %}

{% block content %}
    <h2>List of employees</h2>
    <table class="fuze-table" id="employees-table"></table>
    {{ employeesAsJson|json_script:"mydata" }}
    <script src="{% static 'fuze_tables.js' %}"></script>
    <script>
    const jsonData = JSON.parse(JSON.parse(document.getElementById("mydata").textContent));
    employees_table = new FuzeTable("employees-table",
        {
            title: "Employees"
            ,json_data: jsonData
            ,clickable_rows: true
            ,on_row_click: onRowClick
        });

    function onRowClick(data_entry) {
        window.location.pathname = `/employees/details/${jsonData[data_entry].username}`;
    }
    </script>
{% endblock %}