<link rel="stylesheet" href="{{ STATIC_URL }}shangostyle.css">
<div class="dashboard-container">
  <h1 class="welcome-message">Hello USER, Welcome to Kuwait Finance House system.</h1>
  <div class="menu-container">
    <div class="vertical-menu">
      <ul>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Documents</a></li>
        <li><a href="#">Correspondents</a></li>
        <li><a href="#">Document Types</a></li>
        <li><a href="#">Storage</a></li>
        <li><a href="#">Tags</a></li>
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
    <div class="upload-box">
      <h2>Upload Document</h2>
      <div class="upload-documents">
        <h3>UPLOAD DOCUMENTS</h3>
        <input type="file" class="file-input">
        <button class="browse-button">Browse</button>
      </div>
    </div>
  </div>
  
</div>
