.fuze-table {
	border: 2px solid #000;
	box-sizing: border-box;
	/* height: 100%; */
	/* overflow-y: scroll; */
}

.fuze-table .table-title-and-navigation-container {
	background-color: #cdf;
	display: flex;
	padding: 2px;
	border-bottom: 2px solid #246;
	position: sticky;
	top: 0;
	z-index: 99;
}

.fuze-table .table-title {
	flex: 1 0 auto;
}

.fuze-table .showing-indexes {
	/* blah */
}

.fuze-table .page-button:hover {
	background-color: #ec9;
}

.fuze-table .table-container {
	/*! overflow-x: auto; */
	/*! max-height: 350px; */
	padding: 0 2px 0 2px;
	/*! overflow-y: clip; */
	/*! max-height: 95%; */
}

.fuze-table table {
	border-collapse: collapse;
	/*! position: relative; */
	text-align: left;
}

.fuze-table .column-buttons {
	float: right;
	/*! width: 1em; */
	text-align: center;
	/*! cursor: pointer; */
	/*! bottom: 0; */
	/*! display: block; */
	/*! position: absolute; */
	/*! width: -moz-available; */
	right: 0;
	top: 0;
}

.fuze-table .column-buttons span {
	cursor: pointer;
	display: inline-block;
	width: 1.5em;
}

.fuze-table .column-buttons span:hover {
	background-color: #cdf;
}

.fuze-table table td {
	border: 2px solid #cde;
	padding: 4px 8px 4px 8px;
}

.fuze-table thead th {
	background: #f2f9ff;
	position: sticky;
	top: 29px;
	padding: 4px;
	border-bottom: 2px solid blue;
}

.fuze-table tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}